<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    .dataTables_filter{
    float: right;
    margin: 0 auto;
    }
    .dataTables_info{
    float: left;
    margin: 0 auto;
    }
    .table_id_length{
    float: left;
    margin: 0 auto;
    }
    .pagination{
    margin: 0 auto;
    float: right;
    }
  </style>

    <link rel="stylesheet" type="text/css" href=https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
</head>

<title>Magazyn</title>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand mb-2">
        <a class="navbar-brand" th:href="@{/}">sklepmiesny.pl</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}">Start</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/storage}">Magazyn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Zamówienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/FV}">Faktury</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="m-auto float:left" style="width: 95%">
        <table id="table_id" class="table table-striped mt-2" style="width:100%">
            <thead>
            <tr>
                <th>Kod</th>
                <th>Nazwa</th>
                <th>Ilość w magazynie(kg)</th>
                <th>Cena zakupu</th>
                <th>Cena sprzedaży</th>
                <th>Marża</th>
                <th>Data ważności</th>
                <th>Edycja</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="storage : ${listStorage}">
                <tr>
                    <td>[[${storage.kod}]]</td>
                    <td>[[${storage.nazwa}]]</td>
                    <td>[[${storage.iloscMagazyn}]]</td>
                    <td>[[${storage.cenaZakupu}]]</td>
                    <td>[[${storage.cenaSprzedazy}]]</td>
                    <td>[[${storage.marza}]]</td>
                    <td>[[${storage.dataWaznosci}]]</td>
                    <td>
                        <a class="text-dark" th:href="@{'/storage/edit/' + ${storage.id}}">Edytuj</a>
                    </td>
                    <td>
                        <a class="text-danger" th:href="@{'/storage/delete/' + ${storage.id}}">Usuń</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
</div>
    <div class="text-center">
    <button type="button" class="btn btn-primary m-2 bg-dark bg-gradient m-2" onclick="add()">Dodaj nową pozycję</button>
    <button type="button" class="btn btn-primary m-2 bg-dark bg-gradient m-2" onclick="mainPage()">Powrót na stronę główną</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"></script>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/storage}]]";
    }
</script>
<script type="text/javascript">
        function mainPage() {
        window.location = "[[@{/}]]";
        }
    </script>
<script type="text/javascript">
        function add() {
        window.location = "[[@{/storage/new}]]";
        }
    </script>
<script type="text/javascript">
$(document)
.ready(function () {
$('#table_id')
.DataTable({
"language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Polish.json"
            }
         });
});
</script>

</body>
</html>